<?xml version="1.0"?>
<config>
    <modules>
        <Meanbee_CmsPageRevisions>
            <version>1.1.0</version>
        </Meanbee_CmsPageRevisions>
    </modules>

    <global>
        <helpers>
            <meanbee_cmspagerevisions>
                <class>Meanbee_CmsPageRevisions_Helper</class>
            </meanbee_cmspagerevisions>
        </helpers>

        <blocks>
            <meanbee_cmspagerevisions>
                <class>Meanbee_CmsPageRevisions_Block</class>
            </meanbee_cmspagerevisions>
        </blocks>

        <models>
            <cms>
                <rewrite>
                    <block>Meanbee_CmsPageRevisions_Model_Cms_Block</block>
                </rewrite>
            </cms>

            <meanbee_cmspagerevisions>
                <class>Meanbee_CmsPageRevisions_Model</class>
                <resourceModel>meanbee_cmspagerevisions_mysql4</resourceModel>
            </meanbee_cmspagerevisions>

            <meanbee_cmspagerevisions_mysql4>
                <class>Meanbee_CmsPageRevisions_Model_Mysql4</class>
                <entities>
                    <cms_page_revisions>
                        <table>cms_page_revisions</table>
                    </cms_page_revisions>
                    <cms_block_revisions>
                        <table>cms_block_revisions</table>
                    </cms_block_revisions>
                </entities>
            </meanbee_cmspagerevisions_mysql4>
        </models>

        <resources>
            <meanbee_cmspagerevisions_setup>
                <setup>
                    <module>Meanbee_CmsPageRevisions</module>
                </setup>
            </meanbee_cmspagerevisions_setup>
        </resources>

        <events>
            <cms_page_save_before>
                <observers>
                    <meanbee_cmspageresvisions_model_observer>
                        <type>singleton</type>
                        <class>Meanbee_CmsPageRevisions_Model_Observer</class>
                        <method>savePageRevision</method>
                    </meanbee_cmspageresvisions_model_observer>
                </observers>
            </cms_page_save_before>
            <cms_block_save_before>
                <observers>
                    <meanbee_cmspageresvisions_model_observer>
                        <type>singleton</type>
                        <class>Meanbee_CmsPageRevisions_Model_Observer</class>
                        <method>saveBlockRevision</method>
                    </meanbee_cmspageresvisions_model_observer>
                </observers>
            </cms_block_save_before>
        </events>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Meanbee_CmsPageRevisions before="Mage_Adminhtml">Meanbee_CmsPageRevisions_Adminhtml</Meanbee_CmsPageRevisions>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <meanbee_cmspagerevisions>
                    <file>meanbee/cmspagerevisions/cms.xml</file>
                </meanbee_cmspagerevisions>
            </updates>
        </layout>
    </adminhtml>
</config>
